image: Visual Studio 2017

environment:
  matrix:
  - target: x86_64-pc-windows-msvc
    host: x86_64-pc-windows-msvc
    channel: nightly
  - target: aarch64-pc-windows-msvc
    host: x86_64-pc-windows-msvc
    channel: nightly
  - target: i686-pc-windows-msvc
    host: i686-pc-windows-msvc
    channel: nightly
  - target: x86_64-pc-windows-gnu
    host: x86_64-pc-windows-gnu
    channel: nightly
  - target: i686-pc-windows-gnu
    host: i686-pc-windows-gnu
    channel: nightly
  - target: x86_64-pc-windows-gnu
    host: x86_64-pc-windows-gnu
    channel: 1.6.0
matrix:
  allow_failures:
    - target: aarch64-pc-windows-msvc

install:
  - ps: if (ls -r . -fi "*.rs" | sls "`t") { throw "Found tab character" }
  - appveyor DownloadFile https://win.rustup.rs/ -FileName rustup-init.exe
  - rustup-init -yv --default-toolchain %channel% --default-host %host%
  - set PATH=%PATH%;%USERPROFILE%\.cargo\bin;%APPVEYOR_BUILD_FOLDER%
  - if NOT %host% == %target% rustup target add %target%
  - rustc -vV
  - cargo -vV

build_script:
  - cargo build --target=%target%
  - cargo build --release --target=%target%
  - cargo build --target=%target% --features "everything debug impl-default"

after_build:
  - dir *.exe /s /b | find ^"temp^" /v /i | findstr /e .exe
  - dir \*.exe /s /b | find ^"temp^" /v /i | findstr /e .exe

# test_script:
#   - cargo test --target=%target% --features "everything debug impl-default"
  
artifacts:
  - path: target\$(target)\release\*.exe
    name: winapi-rs-$(target)

notifications:
  - provider: Webhook
    url: https://webhooks.gitter.im/e/d3d6703d143c888f0a8a
